*{
    padding:0;
    margin:0
}
.menu-box{
    position: fixed;
    top:0px;
    margin:0;
    padding:0;
}
.menu-name{
    position: relative;
}
.menu-title{
    float: left;
    width:60px;
    height:20px;
    text-align: center;
    list-style: none;
}
.menu-context{
    /* display: none; */
    position: absolute;
    top:22px;
    width:170px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px #d6d6d6;
    padding-left:10px;
    padding-right:10px;
}
.menu-context :hover{
    display: block;
}
.menu-item{
    width:150px;
    height:30px;
    list-style: none
}
.menu-item-left{
    float:left
}
.menu-item-right{
    float:right
}